.contenedor1 {
    background-color: #ffc0cb;
    height: 5vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*flex-star, center, flex-end, space-between, space-around, space-evenly*/
    align-items: center;
    padding: 10px;
}

.caja {
    background-color: #ffc0cb;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 200px;
    border: 0px;
}

.sanvalentin {
    padding-top: 20px;
}

.container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.uno {
    background-image: url("https://i.pinimg.com/736x/a8/dc/1a/a8dc1a0801fb1d7304be0173f4757b81.jpg");
    text-align: center;
    color: black;
    grid-column: 1/3;
    grid-row: 1/3;   
}

.dos {
    background-color: rgb(250, 57, 250); 
    grid-row: 1/5;  
}

.tres {
    background-color: rgb(6, 194, 6);   
}

.cuatro {
    background-color: rgba(255, 255, 0, 0.916);   
}

.cinco {
    background-color: pink;   
}

.seis {
    background-color: lightblue;   
}
